body {
  font-family: 'Segoe UI', Verdana, sans-serif;
  font-size: 1.2em;
  text-align: center;
}

canvas {
  border: 1px solid black;
}

div.centered {
  width: fit-content;
  margin: auto;
}

div.controls {
  background-color: #dddddd;
  border-radius: 1em;
  text-align: left;
  max-width: 800px;
  padding: 0.5em;
}